.header{
    background:#191970;
    height:50px;
       
}

.header button{
    border:transparent;
    background:transparent;
    height:100%;
    width:50px;
}

.brand{
    padding:10px;
    margin:0px;
    color:whitesmoke;
    font-family: sans-serif;
}